# Configuration for coverage.py (https://pypi.python.org/pypi/coverage)

[run]
# Enable branch coverage
branch = True

[report]

# Regexes for lines to exclude from consideration
exclude_lines =

    # Ignore non-runnable code
    if __name__ == .__main__.:

    pass

# Only check coverage for source files
include =
    automata/fa/dfa.py
    automata/fa/fa.py
    automata/fa/nfa.py
    automata/pda/dpda.py
    automata/pda/pda.py
    automata/pda/stack.py
    automata/shared/automaton.py
    automata/shared/exceptions.py
    automata/tm/dtm.py
    automata/tm/exceptions.py
    automata/tm/tape.py
    automata/tm/tm.py
    automata/tm/tools.py
    automata/tm/tools.py
