[project]
name = "automata-lib"
version = "7.1.0"
description = "A Python library for simulating finite automata, pushdown automata, and Turing machines"
readme = "README.md"
requires-python = ">=3.7"
keywords = ["automata", "finite", "non-deterministic", "pushdown", "turing", "machine", "state"]
license = {file = 'LICENSE.txt'}
authors = [
    {name = 'Caleb Evans', email = 'caleb@calebevans.me'}
]
maintainers = [
    {name = 'Caleb Evans', email = 'caleb@calebevans.me'}
]
dependencies = [
    "pydot>=1.4.2",
    "networkx>=2.6.2",
    "frozendict>=2.3.4", #TODO I think that typing extensions needs to be in here
]

[project.urls]
homepage = "https://github.com/caleb531/automata"
documentation = "https://github.com/caleb531/automata#readme"
repository = "https://github.com/caleb531/automata"
changelog = "https://github.com/caleb531/automata/releases"

[build-system]
requires = ["setuptools", "wheel"]

[tool.mypy]
exclude = ["build"]

[[tool.mypy.overrides]]
module = [
  "setuptools.*",
  "networkx.*",
  "pydot.*" # TODO pydot dependency is going to get removed, can delete
]
ignore_missing_imports = true

[tool.flake8]
# Black compatibility
max-line-length = 88
extend-ignore = ["E203", "W503"]

# Per <https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#profile>
[tool.isort]
profile = "black"
