colorama==0.3.6
coverage==4.0.3
flake8==2.5.4
flake8-docstrings==0.2.5
invoke==0.12.2
isort==4.2.2
mando==0.3.3
mccabe==0.4.0
nose==1.3.7
pep257==0.7.0
pep8==1.7.0
pyflakes==1.0.0
pypandoc==1.1.3
python-termstyle==0.1.10
radon==1.2.2
rednose==0.4.3
