# This workflow will build the Python project and build a wheel of the current
# release (*without* publishing to PyPI). For more information see:
# https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

name: build

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check lockfile
        run: uv lock --check

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Build a binary wheel and a source tarball
        run: uv build

      - name: Check wheel contents
        run: uv run check-wheel-contents dist/*.whl
