# This workflow will install project dependencies and run all tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check lockfile
        run: uv lock --check

      - name: Setup Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Test with pytest
        run: uv run pytest --cov --cov-report=lcov:cover/coverage.lcov --cov-report=term-missing

      - name: Run Coveralls
        uses: coverallsapp/github-action@master
        continue-on-error: true
        with:
          path-to-lcov: cover/coverage.lcov
          github-token: ${{ secrets.GITHUB_TOKEN }}
