# This workflow will install project dependencies and run all tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install graphviz
      run: |
        sudo apt-get install graphviz

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Test with nose2
      run: |
        coverage run -m nose2 tests
        coverage lcov -o cover/coverage.lcov

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        path-to-lcov: cover/coverage.lcov
        github-token: ${{ secrets.GITHUB_TOKEN }}
